<link rel="stylesheet" href="/stylesheets/courierAccount.css">
<script defer src="/courier.js"></script>

<div class="d-flex justify-content-center mb-3 text-secondary"><h4>личный кабинет</h4></div>

<div class="accForm d-flex justify-content-center">
  <form name="loginForm" method="POST" action="/courier" class="d-flex justify-content-center">
    <div>
      <div class="mb-3">
        <input class="form-control w-100 p-2 bg-info text-body" type="text" placeholder="title" name="title">
        <input class="form-control w-100 p-2 bg-info text-body" type="text" placeholder="pictureURL" name="picture">
        <input class="form-control w-100 p-2 bg-info text-body" type="text" placeholder="original price" name="original_price">
        <input class="form-control w-100 p-2 bg-info text-body" type="text" placeholder="discount price" name="discount_price">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
      </div> 
    </div>
  </form>
</div>

{{#if allOrders}}

<table id="tableCour">
  {{!-- <th> --}}
  <td>
    title
  </td>
  <td>
    picture
  </td>
  <td>
    original price
  </td>
  <td>
    discounted price
  </td>
  <td>
    discounted price
  </td>

  {{#each allOrders}}
  <tr>
    <td>
      {{this.title}}
    </td>
    <td>
      <img src="{{this.picture}}" width="200" alt="">
    </td>
    <td>
      {{this.original_price}}
    </td>
    <td>
      {{this.discount_price}}
    </td>
    <td>
      {{this.User.phone}}
    </td>
    <td>
      <button data-id="{{this.id}}">Доставка выполнена</button>
    </td>
    {{/each}}
  </tr>
</table>

{{/if}}
