<script defer src="/main.js"></script>

<div>{{massege}}</div>


<table id="table">
  {{!-- <th> --}}
  <td>
    title
  </td>
  <td>
    picture
  </td>
  <td>
    original price
  </td>
  <td>
    discounted price
  </td>
  {{!-- </th> --}}
  {{#each allOrders}}
  <tr>
    <td>
      {{this.title}}
    </td>
    <td>
      <img src="{{this.picture}}" width="200" alt="">
    </td>
    <td>
      {{this.original_price}}
    </td>
    <td>
      {{this.discount_price}}
    </td>
    <td>
      <button data-id="{{this.id}}">заказать</button>
    </td>
    {{/each}}
  </tr>
</table>
